body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightpink;
  color: #333;
}
h1, h2, h3 {
  font-family: 'Trebuchet MS', sans-serif;
  color:purple;
  margin-bottom: 10px;
}
p {
  line-height: 1.6;
  margin-bottom: 15px;
}
header {
  background-color:white;
  color: black;
  padding: 20px;
  text-align: center;
}
nav a {
  color:black;
  text-decoration:overline;
  margin: 0 15px;
  font-weight: bold;
}
nav a:hover {
  text-decoration:solid;
}
main {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  background:palevioletred;
  border: radius 8px;
}
button {
  background-color:palevioletred;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color:palevioletred;
}
footer {
  background-color: rgb(170, 8, 121);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
form input, form textarea, form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input, form textarea, form button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
form button {
  background-color: #111;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.hero {
  background: url('fashion-banner.jpg') no-repeat center center/cover;
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #e63946;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}main {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  background: palevioletred;
}